@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<br />
<p>
    REKRDD is a simple, web-based project management utility designed to work with project teams of all sizes. 
    It was designed to provide a simple, easy to use solution for project management and other team activities.
    Designed in Microsoft's MVC, this allowed us to deliver a simple, easy-to-expand and powerful web system allowing
    companies to quickly and easily take a look at project at a glance, look at budgets, and analyze certain key
    statistics in a simple, easy to read chart format.

    Rekrdd was written in C#, and has access to the entire C# feature set and quality-of-life enhancements.
    MVC allows the program to be easily extended, using simple HTML and complex Javascript expansion libraries.
    Graphs are implemented using the Highcharts API, which is a simple, powerful, and very well-known graphing API.
    Finally, data import and exporting will be handled by using XML.

</p>
