@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1 UNF Drive<br />
    Jacksonville, Florida, 34442<br />
    Software Engineering, Team 1<br />
</address>

<h1>Our Team:</h1>
<p>
    Robin Hall: Database, Programming, Server Management <br />
    Rajan Pandya: Programming<br />
    Eric Gurvitz: CSS, Site Design, Team Leader<br />
    Daniel Tiu: Programming <br />
    Daniel Banks: CSS, Site Design<br />
    Khue Nguyen: Testing, Programming<br />
</p>