@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>REKRDD</h1>
    <p class="lead">REKRDD is a simple, web-based project management utility designed to work with project teams of all sizes.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to REKRDD!</h2>
        <p>
            Welcome to the REKRDD home page. The home page is one of the first pages that users will see upon logging into the system.

            This page can display upcoming news, important information, or anything department managers want users to see.
        </p>
    </div>
</div>